{% load static %}

<div class="col d-flex justify-content-end align-items-center">
    <div>
        <a href="" class="a-decoration">
            <img id= "cart" src="{% static 'startapp/img/cart.png' %}" alt="phone" width="30" height="30"> 
       </a>
        <span class="badge bg-primary ms-1">0</span>
    </div>

    <div class="ms-4">
        <a href="" class="a-decoration">
            <img id="favorites" src="{% static 'startapp/img/heart.png' %}" alt="phone" width="25" height="25">
        </a>
        <span class="badge bg-primary ms-0">0</span>
    </div>
</div>
